<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="style.css">
</head>

<body>

  <nav class="navbar">
    <div class="logo">
      <p>SunHealthcare</p>
    </div>

    <div class="item">
      <a class="home-btn" href="#">Home</a>
      <a href="#">Service</a>
      <a href="#">Doctor</a>
      <a href="#">Review</a>
    </div>

    <div class="btn">
      <a href="/appointment">
        <input type="button" value="Let's Talk">
      </a>
    </div>
  </nav>

  <section class="hero-sec">
    <div class="main-sec">
      <div class="left">
        <p class="txt1">Love You Health</p>
        <p class="txt2">Trust Your Health to The Best Specialist</p>
        <p class="txt3">This website gives you the best services from the medical Specialist which are having very vast experience in their specific fields.</p>
        <div class="btn">
          <a href="/appointment">
            <input class="btn1" type="button" value="Get In Touch">
          </a>
          <div class="more">
            <input class="btn2" type="button" value="See More">
            <i class="fa-solid fa-arrow-right"></i>
          </div>
        </div>
      </div>

      <div class="right">
        <img src="hero-img.avif" alt="">
      </div>
    </div>
  </section>

  <section class="plat-sec">
    <div class="main-box">
      <div class="box">
        <p class="txt1">180+</p>
        <p class="txt2">Experinced doctors</p>
      </div>

      <div class="box">
        <p class="txt1">10+</p>
        <p class="txt2">Years in medical background</p>
      </div>

      <div class="box">
        <p class="txt1">15k</p>
        <p class="txt2">Happy customers</p>
      </div>

      <!-- <div class="box">
        <p class="txt1">350+</p>
        <p class="txt2">Expert Doctor</p>
      </div> -->
    </div>
  </section>

  <section class="health-sec">
    <div class="txt">
      <p class="txt1">3 QUICK STEPS</p>
      <p class="txt2">Claim You Better Health</p>
    </div>

    <div class="main-box">
      <div class="box">
        <i class="fa-solid fa-users"></i>
        <p class="txt1">Choose Doctor</p>
        <p class="txt2">Select the best doctor for your checkup.</p>
      </div>

      <div class="box">
        <i class="fa-solid fa-user-check"></i>
        <p class="txt1">Follow The Insights</p>
        <p class="txt2">Get updated with the latest advancement in the medical field.</p>
      </div>

      <div class="box">
        <i class="fa-solid fa-house-medical"></i>
        <p class="txt1">Become Healthier</p>
        <p class="txt2">They say "An apple a day keeps the doctor away" but we aggrandize on checking our website daily to keep the doctor away.</p>
      </div>
    </div>

  </section>

  <section class="hero-sec2">
    <div class="main-sec">
      <div class="left">
        <img
          src="https://images.unsplash.com/photo-1612349317150-e413f6a5b16d?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8ZG9jdG9yfGVufDB8fDB8fHww"
          alt="">
      </div>

      <div class="right">
        <p class="txt1">Love You Health</p>
        <p class="txt2">Why People Choose HealthCare</p>
        <p class="txt3">Healthcare is often sought when individuals experience symptoms of illness or 
          injury that require medical attention. </p>
        <div class="btn">
          <input class="btn1" type="button" value="Read More">
        </div>
      </div>
    </div>
  </section>

  <section class="hero-sec">
    <div class="main-sec">
      <div class="left">
        <p class="txt1">Love You Health</p>
        <p class="txt2">We Always Provide Best Service</p>
        <p class="txt3">We pride ourselves on consistently delivering the highest quality services to our valued customers.
           Our commitment to excellence drives us to continuously strive for improvement and exceed expectations. With a dedication to customer satisfaction, 
          we ensure that every interaction with our services is nothing short of exceptional.</p>
        <div class="btn">
          <input class="btn1" type="button" value="Read More">
        </div>
      </div>

      <div class="right">
        <img src="hero-img.avif" alt="">
      </div>
    </div>
  </section>

  <section class="team-sec">
    <div class="txt">
      <p class="txt1">Our Specialist Doctor Team</p>
      <p class="txt2">Here are some of our very versatile and bonafide doctors who have a vast experience</p>
    </div>

    <div class="main-box">
      <div class="box">
        <img src="img1.jpg" alt="">
        <!-- <p class="work">Dentist</p> -->
        <p class="name">Dr.Jennifer</p>
        <div class="rat">
          <p>Elite Hospital</p>
          <div class="star">
            <i class="fa-solid fa-star"> 5.0</i>
            <p>(1k+)</p>
          </div>
        </div>
        <p>A very experinced dentist</p>
        <button>view profile</button>
      </div>

      <div class="box">
        <img src="img2.jpg" alt="">
        <!-- <p class="work">Dentist</p> -->
        <p class="name">Dr.Clark Kent</p>
        <div class="rat">
          <p>Max Hospital</p>
          <div class="star">
            <i class="fa-solid fa-star"> 5.0</i>
            <p>(1k+)</p>
          </div>
        </div>
        <p>experience in heart related issues</p>
        <button>view profile</button>
      </div>

      <div class="box">
        <img src="img3.jpg" alt="">
        <!-- <p class="work">Dentist</p> -->
        <p class="name">Dr.Walter White</p>
        <div class="rat">
          <p>Apollo Hospital</p>
          <div class="star">
            <i class="fa-solid fa-star"> 5.0</i>
            <p>(1k+)</p>
          </div>
        </div>
        <p>ophthalmologist</p>
        <button>view profile</button>
      </div>
    </div>
  </section>

  <section class="cnt-sec">
    <p class="txt1">It's Time To Change Your Life Today</p>
    <p class="txt2">Book your appointment now to enjoy the one-on-one interaction with the doctors</p>
      <div class="btn">
        <button class="btn1">Contact Us</button>
        <a href="/appointment">
          <button class="btn2">Make an Appointment</button>
        </a>
      </div>
  </section>

  <footer class="foot-sec">
    <div class="main-box">
      <div class="box1">
        <h1>Social Handles</h1>
        <div class="social">
          <i class="fa-brands fa-square-instagram"></i>
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-youtube"></i>
        </div>
      </div>

      <div class="box2">
        <h1>Quick Link</h1>
        <div class="btn">
          <a class="home-btn" href="/">Home</a>
          <a href="/">Product</a>
          <a href="/">Privacy Policy</a>
          <a href="/">Contact Us</a>
        </div>
      </div>

      <div class="box2">
        <h1>Quick Link</h1>
        <div class="btn">
          <a class="home-btn" href="/">Home</a>
          <a href="/">Product</a>
          <a href="/">Privacy Policy</a>
          <a href="/">Contact Us</a>
        </div>
      </div>

      <div class="box4">
        <h1>Contact Us</h1>
        <div class="add"> 
          <p><i style="color: rgb(0, 174, 255)" class="fa-solid fa-phone"></i> SunHealthcare@gmail.com</p>
          <p><i style="color: rgb(0, 174, 255)" class="fa-solid fa-envelope"></i> +91-9414171467</p>
        </div>
      </div>
    </div>
    <div class="copy">
      <p>Copyright &copy; 2024</p>
    </div>
  </footer>
<script>
  var images = ['https://images.unsplash.com/photo-1610624764045-5255643109c6?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'];

var currentIndex = 0;
var totalClicks = 0;

function randomizeImage() {
  let root = document.documentElement;
  root.style.setProperty('--image', 'url(' + images[currentIndex] + ')');
  currentIndex++;
  if (currentIndex >= images.length) {
    currentIndex = 0;
  }
  var puzzleItems = document.querySelectorAll('#puzz i');
  for (var i = 0; i < puzzleItems.length; i++) {
    puzzleItems[i].style.left = Math.random() * (window.innerWidth - 100) + 'px';
    puzzleItems[i].style.top = Math.random() * (window.innerHeight - 100) + 'px';
  }
}

randomizeImage();

function reloadPuzzle() {
  var doneItems = document.querySelectorAll('.done');
  doneItems.forEach(function (element) {
    element.classList.toggle('done');
  });
  var droppedItems = document.querySelectorAll('.dropped');
  droppedItems.forEach(function (element) {
    element.classList.toggle('dropped');
  });
  var allDoneElement = document.querySelector('.allDone');
  allDoneElement.style = '';
  allDoneElement.classList.toggle('allDone');
}

// mobile functionality
var puzzleItemsMobile = document.querySelectorAll('#puzz i');
puzzleItemsMobile.forEach(function (element) {
  element.addEventListener('mousedown', function () {
    totalClicks++;
    document.querySelector('#clicks').innerHTML = totalClicks;
  });
  element.addEventListener('click', function () {
    if (document.querySelector('.clicked')) {
      document.querySelector('.clicked').classList.toggle('clicked');
      element.classList.toggle('clicked');
    } else {
      element.classList.toggle('clicked');
    }
  });
});

var puzzleItemsDesktop = document.querySelectorAll('#puz i');
puzzleItemsDesktop.forEach(function (element) {
  element.addEventListener('click', function () {
    if (document.querySelector('.clicked')) {
      var clickedElement = document.querySelector('.clicked');
      if (clickedElement.classList.contains(element.classList)) {
        element.classList.add('dropped');
        clickedElement.classList.add('done');
        clickedElement.classList.toggle('clicked');

        if (document.querySelectorAll('.dropped').length == 9) {
          document.querySelector('#puz').classList.add('allDone');
          document.querySelector('#puz').style.border = 'none';
          document.querySelector('#puz').style.animation = 'allDone 1s linear forwards';

          setTimeout(function () {
            reloadPuzzle();
            randomizeImage();
          }, 1500);
        }
      }
    }
  });
});

// desktop drag and drop
function allowDrop(ev) {
  ev.preventDefault();
}

function drag(ev) {
  ev.dataTransfer.setData("text", ev.target.className);
}

function drop(ev) {
  ev.preventDefault();
  var data = ev.dataTransfer.getData("text");

  if (ev.target.className == data) {
    ev.target.classList.add('dropped');
    document.querySelector('.' + data + "[draggable='true']").classList.add('done');

    if (document.querySelectorAll('.dropped').length == 9) {
      document.querySelector('#puz').classList.add('allDone');
      document.querySelector('#puz').style.border = 'none';
      document.querySelector('#puz').style.animation = 'allDone 1s linear forwards';

      setTimeout(function () {
        reloadPuzzle();
        randomizeImage();
      }, 1500);
    }
  }
}

</script>
</body>

</html>